@font-face
{
    font-family:MyriadPro-regular;
    src:url(fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face
{
    font-family:MyriadPro-bold;
    src:url(fonts/MYRIADPRO-BOLD.OTF);
}
@font-face
{
    font-family:MyriadPro-light;
    src:url(fonts/MyriadPro-Light.otf);
}
@font-face
{
    font-family:MyriadPro-medium-bold;
    src:url(fonts/MYRIADPRO-SEMIBOLD.OTF);
}
